<!--========================================================== -->
<!-- HEAD -->
<!--========================================================== -->

<%- include('../../partials/admin/head.ejs', {tituloWeb: 'PROVEEDORES' }) %>

<!--========================================================== -->
<!-- NAVBAR -->
<!--========================================================== -->

<%- include('../../partials/admin/navbar.ejs') %>

<!--========================================================== -->
<!-- BARRA LATERAL -->
<!--========================================================== -->

<%- include('../../partials/admin/barraLateral.ejs') %>

<!--========================================================== -->
<!-- CONTENIDO -->
<!--========================================================== -->

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">

            <div class="container my-5 contenedorCentrado tablas-formularios">
                <div class="row" style="padding: 20px;">
                    <form action="/v1/almacenes" method="post">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h1 class="title-tablas">Registro de Almacenes</h1>
                            <a class="btn btn-outline-secondary btn-sm" href="/v1/almacenes/listarAlmacenes" title="Regresar al listado de categorias">
                                <i class="fa-solid fa-reply"></i>
                            </a>
                        </div>
            
                        <input type="hidden" name="id" value=""><br>
                        
                        <label>Ubicación: </label>
                        <input type="text" name="ubicacion" class="form-control" required><br>
                        
                        <label>Descripción: </label>
                        <textarea name="descripcionAlmacen" class="form-control" required></textarea>
                        <br>

                        <label>Cantidad: </label>
                        <input type="number" name="cantidad" class="form-control" required><br>
                        
                        <div class="d-flex justify-content-center mt-4">
                            <button type="submit" class="btn btn-success btn-lg">Registrar Almacén</button>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
            
        </div>
    </main>
</div>


<!--========================================================== -->
<!--FOOTER-->
<!--========================================================== -->

<%- include('../../partials/admin/footer.ejs') %>