<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                
                <!--PANEL DE GESTION-->
                <div class="sb-sidenav-menu-heading">Menu</div>
                <a class="nav-link" href="/v1/panelGestion">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Panel de gestión
                </a>

                <!--USUARIOS-->
                <a class="nav-link" href="/v1/usuarios">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Usuarios
                </a>

                <div class="sb-sidenav-menu-heading">Interfaces</div>

                <!--PROVEEDORES-->
                <a class="nav-link" href="/v1/proveedores/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-truck-field"></i></div>
                    Proveedores
                </a>

                <!--PRODUCTOS-->
                <a class="nav-link" href="/v1/productos/">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-boxes-stacked"></i></div>
                    Productos
                </a>
                
                 <!--CATEGORIAS-->
                 <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                 data-bs-target="#collapseCategorias" aria-expanded="false"
                 aria-controls="collapseCategorias">
                 <div class="sb-nav-link-icon"><i class="fa-solid fa-thumbtack"></i></div>
                 Categorias
                 <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
             </a>
             <div class="collapse" id="collapseCategorias" aria-labelledby="headingOne"
                 data-bs-parent="#sidenavAccordion">
                 <nav class="sb-sidenav-menu-nested nav">
                       <a class="nav-link" href="/v1/categorias/registroCategorias">Registrar categorias</a>
                    <a class="nav-link" href="/v1/categorias/listarCategorias">
                        <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                        Listar categorias
                    </a>
                 </nav>
             </div>

                <!--CLIENTES-->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                    data-bs-target="#collapseClientes" aria-expanded="false" aria-controls="collapseClientes">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                    Clientes
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseClientes" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="/v1/clientes/registroClientes">Registrar Clientes</a>
                        <a class="nav-link" href="/v1/clientes/listarClientes">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Listar Clientes
                        </a>
                    </nav>
                </div>

                <!--DEVOLUCIONES-->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                    data-bs-target="#collapseDevoluciones" aria-expanded="false"
                    aria-controls="collapseDevoluciones">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-box-open"></i></div>
                    Devoluciones
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapseDevoluciones" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/v1/devoluciones/registroDevoluciones">Registrar Devoluciones</a>
                        <a class="nav-link" href="/v1/devoluciones/listarDevoluciones">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Listar Devoluciones
                        </a>
                    </nav>
                </div>
                
                <!--PEDIDOS-->
                <a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
                    data-bs-target="#collapsePedidos" aria-expanded="false"
                    aria-controls="collapsePedidos">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-box-open"></i></div>
                    Pedidos
                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                </a>
                <div class="collapse" id="collapsePedidos" aria-labelledby="headingOne"
                    data-bs-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="/v1/pedidos/registroPedidos">Registrar Pedidos</a>
                        <a class="nav-link" href="/v1/pedidos/listarPedidos">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Listar Pedidos
                        </a>
                    </nav>
                </div>

                <!--AUDITORIA-->
                    <a class="nav-link collapsed" href="/v1/auditoria">
                        <div class="sb-nav-link-icon"><i class="fa-brands fa-audible"></i></div>
                        Auditoria
                    </a>

                <!--GRAFICOS-->
                <div class="sb-sidenav-menu-heading">Completentos</div>
                <a class="nav-link" href="/v1/graficos">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-chart-column"></i></div>
                    Gráficos
                </a>
            </div>
        </div>
    </nav>
</div>