<footer class="py-4 mt-auto footer-admin">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-center small">
            <div class="grupo-2" style="text-align: center;">
                <small>&copy; 2023 <b>INFINITE CODE</b> - Todos los Derechos Reservados</small>
            </div>
        </div>
    </div>
</footer>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    ...
</div>