<!--========================================================== -->
<!-- HEAD -->
<!--========================================================== -->

<%- include('../../partials/admin/head.ejs', {tituloWeb: 'REGISTRO DE CLIENTES' }) %>

<!--========================================================== -->
<!-- NAVBAR -->
<!--========================================================== -->

<%- include('../../partials/admin/navbar.ejs') %>

<!--========================================================== -->
<!-- BARRA LATERAL -->
<!--========================================================== -->

<%- include('../../partials/admin/barraLateral.ejs') %>

<!--========================================================== -->
<!-- CONTENIDO -->
<!--========================================================== -->

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            
            <div class="container my-5 contenedorCentrado tablas-formularios">
                <div class="row" style="padding: 20px;">
                    <form action="#" method="post">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h1 class="title-tablas">Registro de Clientes</h1>
                            <a class="btn btn-outline-secondary btn-sm" href="/v1/clientes/listarClientes" title="Regresar al listado de clientes">
                                <i class="fa-solid fa-reply"></i>
                            </a>
                        </div>
                
                        <input type="hidden" name="id" value="">
                        
                        <label>Nombre: </label>
                        <input type="text" name="nombre" class="form-control" value=""><br>
                
                        <label>NIT: </label>
                        <input type="text" name="nit" class="form-control" value=""><br>
                
                        <label>Contacto: </label>
                        <input type="text" name="contacto" class="form-control" value=""><br>
                
                        <label>Correo Electrónico: </label>
                        <input type="text" name="correo_electronico" class="form-control" value=""><br>
                
                        <label>Dirección: </label>
                        <input type="text" name="direccion" class="form-control" value="">
   
                        <div class="d-flex justify-content-center mt-4">
                            <a href="#" class="btn btn-success btn-lg">Registrar cliente</a>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </main>
</div>

<!--========================================================== -->
<!--FOOTER-->
<!--========================================================== -->

<%- include('../../partials/admin/footer.ejs') %>