<!--========================================================== -->
<!--MODALE RESTABLECER CONTRASENA-->
<!--========================================================== -->
<div class="modal fade" id="restablecerContraseña" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container-form">
                <div class="information">
                    <div class="info-childs">
                        <img src="/img/logo/logo-1.png" alt="logo">
                        <h2>¡Restablece tu contraseña!</h2>
                        <p>Ingresa la nueva contraseña en el formulario "Recuerda que la contraseña debe ser minima de 8 digitos".</p>
                    </div>
                </div>
                <div class="form-information">
                    <div class="form-information-childs">
                        <h2>Restablecimiento de Contraseña</h2>
                        <form class="form" id="password-reset">
                            <br>
                            <div>
                                <label for="Correo">
                                    <i class="fa-solid fa-envelope"></i>
                                    <input type="password" id="nuevaContraseña" name="nuevaContraseña" placeholder="Nueva contraseña" required>
                                </label>
                            </div>
                            <br>
                            <div class="btn-Login">
                                <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
                                <br>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
