<!--========================================================== -->
<!-- HEAD -->
<!--========================================================== -->

<%- include('../../partials/admin/head.ejs', {tituloWeb: 'REGISTRO PROVEEDORES' }) %>

<!--========================================================== -->
<!-- NAVBAR -->
<!--========================================================== -->

<%- include('../../partials/admin/navbar.ejs') %>

<!--========================================================== -->
<!-- BARRA LATERAL -->
<!--========================================================== -->

<%- include('../../partials/admin/barraLateral.ejs') %>

<!--========================================================== -->
<!-- CONTENIDO -->
<!--========================================================== -->

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">

            <div class="container my-5 contenedorCentrado tablas-formularios">
                <div class="row" style="padding: 20px;">
                    <form action="" method=""></form>
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h1 class="title-tablas">Registro de Proveedores</h1>
                            <a class="btn btn-outline-secondary btn-sm" href="/v1/proveedores/listarPorveedores" title="Regresar al listado de proveedores">
                                <i class="fa-solid fa-reply"></i>
                            </a>
                        </div>
            
                        <input type="hidden" name="id" value="">
            
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre Proveedor</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escribe el nombre de la empresa" pattern="[A-Za-z\s]*" title="Por favor, ingrese solo letras" required>
                        </div>
            
                        <div class="mb-3">
                            <label for="nit" class="form-label">NIT</label>
                            <input type="number" class="form-control" id="nit" name="nit" placeholder="Escribe el NIT de la empresa" required>
                        </div>
            
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono de Contacto</label>
                            <input type="tel" class="form-control" id="telefono" name="telefono" placeholder="Escribe el número de teléfono" pattern="[0-9]{10}" title="Por favor, ingrese solo números" required>
                        </div>
            
                        <div class="mb-3">
                            <label for="correo_electronico" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" id="correo_electronico" name="correo_electronico" placeholder="Escribe la dirección de correo electrónico" required>
                        </div>
            
                        <div class="d-flex justify-content-center mt-4">
                            <a href="#" class="btn btn-success btn-lg">Registrar proveedor</a>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </main>
</div>

<!--========================================================== -->
<!--FOOTER-->
<!--========================================================== -->

<%- include('../../partials/admin/footer.ejs') %>