<!--========================================================== -->
<!--MODALE LOGIN-->
<!--========================================================== -->

<div class="modal fade" id="login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="container-form">
                <div class="information">
                    <div class="info-childs">
                        <img src="/img/logo/logo-1.png" alt="logo">
                        <h2>¡Crea tu cuenta gratis!</h2>
                        <p>¡InfiniteCode es gratis por 15 días!</p>
                        <a id="sign-up" type="button">Registrate</a>
                    </div>
                </div>
                <div class="form-information">
                    <div class="form-information-childs">
                        <h2>Inicia Sesión</h2>
                        <div class="icons">
                            <a href="#">
                                <i class="fa-brands fa-google"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-github-alt"></i>
                            </a>
                        </div>
                        <p>O iniciar sesión con una cuenta</p>
                        <form class="form" id="loginForm">
                            <br>
                            <div>
                                <label>
                                    <i class="fa-solid fa-user"></i>
                                    <input type="text" placeholder="Nombre Usuario" name="correoLogin" id="correoLogin" autocomplete="off" required>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <i class="fa-solid fa-lock"></i>
                                    <input type="password" placeholder="Contraseña" name="contraseñaLogin" id="contraseñaLogin" autocomplete="off" required>
                                </label>
                            </div>
                            <br>
                            <div class="btn-Login">
                                <a class="btn btn-primary" href="">Recuperar contraseña</a>
                                <br>
                                <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                                <br>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!--========================================================== -->
<!--MODALE REGISTER-->
<!--========================================================== -->

<div class="modal fade" id="register" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container-form">
                <div class="information">
                    <div class="info-childs">
                        <img src="/img/logo/logo-1.png" alt="logo">
                        <h2>Bienvenido</h2>
                        <p>Para unirte a nuestra comunidad por favor Inicia Sesión con tus datos</p>
                        <a id="sign-in" type="button">Iniciar Sesión</a>
                    </div>
                </div>
                <div class="form-information">
                    <div class="form-information-childs">
                        <h2>Crear una Cuenta</h2>
                        <div class="icons">
                            <a href="#">
                                <i class="fa-brands fa-google"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-linkedin"></i>
                            </a>
                            <a href="#">
                                <i class="fa-brands fa-github-alt"></i>
                            </a>
                        </div>
                        <p>O usa tu email para registrarte</p>
                        <form class="form" action="/v1/usuarios/registroUsario" method="POST">
                            <div>
                                <label>
                                    <i class="fa-solid fa-user"></i>
                                    <input type="text" placeholder="Nombre completo" id="nombreCompleto" name="nombreCompleto" autocomplete="off" required>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <i class="fa-regular fa-envelope"></i>
                                    <input type="email" placeholder="Correo Electrónico" id="correo" name="correo" autocomplete="off" required>
                                </label>
                            </div>
                            <div>
                                <label>
                                    <i class="fa-solid fa-lock"></i>
                                    <input type="password" placeholder="Contraseña" id="contraseña" name="contraseña" autocomplete="off" required>
                                </label>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Registrarse</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#loginForm').on('submit', function(event) {
            event.preventDefault(); 
    
            $.ajax({
                url: '/v1/usuarios/loginUsuario', 
                method: 'POST',
                data: $(this).serialize(),
                success: function(response) {
                    Swal.fire({
                        icon: 'success',
                        title: '¡Éxito!',
                        text: 'Inicio de sesión exitoso',
                        confirmButtonText: 'Continuar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = '/v1/panelGestion';
                        }
                    });
                },
                error: function(xhr) {
                    let mensajeError = 'Ocurrió un error en el inicio de sesión'; 
                    if (xhr.responseJSON && xhr.responseJSON.mensaje) {
                        mensajeError = xhr.responseJSON.mensaje; 
                    }
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: mensajeError,
                    });
                }
            });
        });
    });
    </script>