<!--========================================================== -->
<!--MODAL DETALLE USUARIOS-->
<!--========================================================== -->

<div class="modal fade" id="detalleUsuario" tabindex="-1" aria-labelledby="registerLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content modal-detalle">

            <div class="container mt-5 formDetalle">
                <h2>Detalle Usuario</h2>
                <hr>
                <table id="detalleUsuario" class="table table-striped" enctype="multipart/form-data">
                    <tr>
                        <th>Id:</th>
                        <td id="detalleUsuarioId"></td>
                    </tr>
                    <tr>
                        <th>Nombre:</th>
                        <td id="detalleUsuarioNombre"></td>
                    </tr>
                    <tr>
                        <th>Correo:</th>
                        <td id="detalleUsuarioCorreo"></td>
                    </tr>
                    <tr>
                        <th>Contrase単a:</th>
                        <td id="detalleUsuarioContrase単a"></td>
                    </tr>
                    <tr>
                        <th>Rol:</th>
                        <td id="detalleUsuarioRol"></td>
                    </tr>
                    <tr>
                        <th>Foto:</th>
                        <td>
                            <img id="detalleUsuarioFoto" alt="Usuario" style="width: 100px; height: auto;">
                        </td>
                    </tr>
                    <tr>
                        <th>Fecha de creacion:</th>
                        <td id="detalleUsuarioCreacion"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!----------------------------SCRIPTS----------------------------->

<script>

//--========================================================== -->
//--Scrip para ver el detalle del usuario-->
//--========================================================== -->

document.addEventListener('DOMContentLoaded', function () {
    const verModal = document.getElementById('detalleUsuario');

    verModal.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const usuarioId = button.getAttribute('data-id');

        fetch(`/v1/usuarios/detalleUsario/${usuarioId}`)
            .then(response => response.json())
            .then(usuarios => {
                document.getElementById('detalleUsuarioId').textContent = usuarios._id;
                document.getElementById('detalleUsuarioNombre').textContent = usuarios.nombreCompleto;
                document.getElementById('detalleUsuarioCorreo').textContent = usuarios.correo;
                document.getElementById('detalleUsuarioContrase単a').textContent = usuarios.contrase単a;
                document.getElementById('detalleUsuarioRol').textContent = usuarios.rol;
                if (usuarios.foto) {
                    document.getElementById('detalleUsuarioFoto').src = `/uploads/${usuarios.foto}`;
                } else {
                    document.getElementById('detalleUsuarioFoto').src = '/img/usuarios/user.png'; 
                }
            })
            .catch(error => console.error('Error al cargar los detalles del usuarioo:', error));
    });
});
</script>